<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosh sahifa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<form method="post" action="{% url 'main' %}">
    <br>
    <h1>Bemorlar haqida ma'lumotlar</h1>
    <br><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Ism, familiya, sharif</th>
                <th scope="col">Tug'ilgan sanasi</th>
                <th scope="col">Telefon raqami</th>
                <th scope="col">Qabul vaqti</th>
                <th> Ko'rish</th>


            </tr>
        </thead>
        <tbody>
            {% for doctor in admission_users %}
            <tr>
                {% if doctor.accepted == False %}

                <th> {{ doctor.id }}</th>
                <td>{{ doctor.full_name }}</td>
                <td>{{ doctor.date_birth }}</td>
                <td>{{ doctor.phone_number }}</td>
                <td>{{ doctor.date }}</td>


                <td>
                   <a href="{% url 'acc' pk=doctor.pk %}">
    <button class="btn btn-primary btn-lg" type="button">Kirish</button>
</a>

                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
<a href="{% url 'logout' %}" style="float: right;">
    <button class="btn btn-primary" type="submit">Logout</button>
</a>
</body>
</html>
