
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bosh sahifa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<form method="post" action="{% url 'accoutant' %}">
    <br>

    <h1>To'lovlar haqida ma'lumotlar</h1>
    <br><br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Ism, familiya, sharif</th>
                <th scope="col">Doktor ism familyasi</th>
                <th scope="col">To'lov summasi</th>
                <th scope="col">Vaqti
                <th scope="col">To'lov turi</th>
                <th scope="col">to'lov raqami</th>
                <th scope="col">Telefon raqam</th>


            </tr>
        </thead>
        <tbody>

            {% for c in financial_list %}
            <tr>
                <th> {{ c.id }}</th>
                <td>{{ c.full_name }}</td>
                <td>{{ c.doctor_name }}</td>
                <td>{{ c.price }}</td>
                <td>{{ c.date }}</td>
                <td>{{ c.payment_type }}</td>
                <td>{{ c.check_number }}</td>
                <td>{{ c.phone_number }}</td>


                <td>


                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    </br>
</form>
</body>
</html>
